<form method="POST" action="/auth/register">
  <input name="username" class="form-control mb-2" placeholder="Username" />
  <input type="password" name="password" class="form-control mb-2" />
  <button class="btn btn-success w-100">Register</button>
</form>

<a href="/auth/login">Login</a>
