<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link
      rel="stylesheet"
      href="/adminlte/plugins/fontawesome-free/css/all.min.css"
    />
    <link rel="stylesheet" href="/adminlte/dist/css/adminlte.min.css" />
  </head>

  <body class="hold-transition login-page">
    <%- include('../' + body) %>

    <script src="https://cdn.jsdelivr.net/npm/jwt-decode/build/jwt-decode.min.js"></script>
    <script src="/adminlte/plugins/jquery/jquery.min.js"></script>
    <script src="/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/adminlte/dist/js/adminlte.min.js"></script>
  </body>
</html>
