<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>

    <!-- My self css -->
    <link rel="stylesheet" href="/adminlte/css/style.css" />

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="/adminlte/plugins/fontawesome-free/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />

    <!-- AdminLTE -->
    <link rel="stylesheet" href="/adminlte/dist/css/adminlte.min.css" />
  </head>

  <body class="hold-transition layout-top-nav">
    <div class="wrapper"><%- include('../' + body) %></div>

    <!-- jQuery -->
    <script src="/adminlte/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap 4 -->
    <script src="/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- AdminLTE -->
    <script src="/adminlte/dist/js/adminlte.min.js"></script>
  </body>
</html>
